body{
  background-color: #333;
} 
  
.note {
  position: absolute;
  width: 150px;
  height: 30%;
  background: rgb(240, 239, 180);
  border-radius: 10%;
  border-width: 10px;
  border-color: red;
  border: solid 1px;
}

.note_name{
  position: relative;
  font-weight: bold;
  text-align: center;
  height: 10%; 
  border: solid 1px;
}

.note_todos{
  display: grid; 
}

.todo{ 
  display: grid;  
  border: solid 1px; 
}

.todo_name{ 
  position: relative;
  font-weight: bold;
  text-align: center; 
  /* width: 95%; */ 
}
.todo_content{  
  margin-top: 0%;
  margin-bottom: 0%;
  min-width: 100%;
  word-wrap: break-word; 
}


.editable_name, .editable_content{
  width: 98%  
}