body{
  background-color: #333;
}
  
.note {
  position: absolute;
  width: 10%;
  height: 30%;
  background: rgb(240, 239, 180);
  border-radius: 10%;
  border-width: 10px;
  border-color: red;
  border: solid 1px;
}

.note_name{
  position: relative;
  font-weight: bold;
  text-align: center;
  height: 10%; 
  border: solid 1px;
}

.note_todos{
  display: grid;
}

.todo{
  /* background-color: aqua; */
  border: solid 1px;
}

.todo_name{
  position: relative;
  font-weight: bold;
  text-align: center;
  height: 10%;  
}

.editable_name, .editable_content{
  width: 98% 
  
}